.header{
    text-align: center;
    p{
        margin:30px auto 30px;
        width: 915px;
        height: 222px;
        font-size: 62px;
        
    }
}
.home_aboutas{
    margin-left: 120px;
    font-size: 14px;
    
}
.ultext{
    display: flex;
    width: 1160px;
    margin: 0 auto 0 ;

    li{
        font-size: 17px;
        margin: 0 50px 0;
    }
}
.ulstil{
    display: flex;
    width: 900px;
    height: 120px;
    justify-content: space-between;
    margin:100px auto 0;
    li{
        font-size: 14px;
        width: 180px;
        p{
            font-size: 62px;
            color: #F36E2E;
            font-weight: 600;
        }
    }
}
.section_center{
    margin: 100px 120px 0;
    
    div{
        

        ul{
            display: flex;
            align-items: center;
            li{
                width: 50%;

                img{
                    width: 840px;
                    height: 740px;
                    object-fit: cover;

                }
            
                div{
                    font-size: 14px;
                    margin: 0 auto 0;
                    width: 540px;

                    p{
                        font-size: 36px;
                        font-weight:500 ;
                        margin-bottom: 60px;
                    }
                }
            }
        }
    }
}
.section3{
    margin:100px auto 100px;
    h3{
        text-align: center;
        font-size: 36px;
        margin: 30px 0 50px;
    }
}
.section3_div{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0;
    width: 1040px;
    
    p{
        font-size: 24px;
    }
    span{
        font-size: 17px;
    }
    div{
        width: 480px;
        height: 235px;
    }
}